[submodule "projects/AssaultCube_Aimbot"]
	path = projects/AssaultCube_Aimbot
	url = https://github.com/GameHackingAcademy/AssaultCube_Aimbot.git
[submodule "projects/AssaultCube_ESP"]
	path = projects/AssaultCube_ESP
	url = https://github.com/GameHackingAcademy/AssaultCube_ESP.git
[submodule "projects/AssaultCube_Multihack"]
	path = projects/AssaultCube_Multihack
	url = https://github.com/GameHackingAcademy/AssaultCube_Multihack.git
[submodule "projects/AssaultCube_NoRecoil"]
	path = projects/AssaultCube_NoRecoil
	url = https://github.com/GameHackingAcademy/AssaultCube_NoRecoil.git
[submodule "projects/AssaultCube_Triggerbot"]
	path = projects/AssaultCube_Triggerbot
	url = https://github.com/GameHackingAcademy/AssaultCube_Triggerbot.git
[submodule "projects/Call_Logger"]
	path = projects/Call_Logger
	url = https://github.com/GameHackingAcademy/Call_Logger.git
[submodule "projects/Debugger"]
	path = projects/Debugger
	url = https://github.com/GameHackingAcademy/Debugger.git
[submodule "projects/Disassembler"]
	path = projects/Disassembler
	url = https://github.com/GameHackingAcademy/Disassembler.git
[submodule "projects/DLL_Injector"]
	path = projects/DLL_Injector
	url = https://github.com/GameHackingAcademy/DLL_Injector.git
[submodule "projects/Flare_FarmingBot"]
	path = projects/Flare_FarmingBot
	url = https://github.com/GameHackingAcademy/Flare_FarmingBot.git
[submodule "projects/MemoryScanner"]
	path = projects/MemoryScanner
	url = https://github.com/GameHackingAcademy/MemoryScanner.git
[submodule "projects/PatternScanner"]
	path = projects/PatternScanner
	url = https://github.com/GameHackingAcademy/PatternScanner.git
[submodule "projects/UrbanTerror_MemoryWallhack"]
	path = projects/UrbanTerror_MemoryWallhack
	url = https://github.com/GameHackingAcademy/UrbanTerror_MemoryWallhack.git
[submodule "projects/UrbanTerror_OpenGLChams"]
	path = projects/UrbanTerror_OpenGLChams
	url = https://github.com/GameHackingAcademy/UrbanTerror_OpenGLChams.git
[submodule "projects/UrbanTerror_OpenGLWallhack"]
	path = projects/UrbanTerror_OpenGLWallhack
	url = https://github.com/GameHackingAcademy/UrbanTerror_OpenGLWallhack.git
[submodule "projects/Wesnoth_ChatBot"]
	path = projects/Wesnoth_ChatBot
	url = https://github.com/GameHackingAcademy/Wesnoth_ChatBot.git
[submodule "projects/Wesnoth_CodeCaveDLL"]
	path = projects/Wesnoth_CodeCaveDLL
	url = https://github.com/GameHackingAcademy/Wesnoth_CodeCaveDLL.git
[submodule "projects/Wesnoth_ExternalGoldHack"]
	path = projects/Wesnoth_ExternalGoldHack
	url = https://github.com/GameHackingAcademy/Wesnoth_ExternalGoldHack.git
[submodule "projects/Wesnoth_InternalGoldHack"]
	path = projects/Wesnoth_InternalGoldHack
	url = https://github.com/GameHackingAcademy/Wesnoth_InternalGoldHack.git
[submodule "projects/Wesnoth_Maphack"]
	path = projects/Wesnoth_Maphack
	url = https://github.com/GameHackingAcademy/Wesnoth_Maphack.git
[submodule "projects/Wesnoth_MultiplayerBot"]
	path = projects/Wesnoth_MultiplayerBot
	url = https://github.com/GameHackingAcademy/Wesnoth_MultiplayerBot.git
[submodule "projects/Wesnoth_Proxy"]
	path = projects/Wesnoth_Proxy
	url = https://github.com/GameHackingAcademy/Wesnoth_Proxy.git
[submodule "projects/Wesnoth_Stathack"]
	path = projects/Wesnoth_Stathack
	url = https://github.com/GameHackingAcademy/Wesnoth_Stathack.git
[submodule "projects/Wyrmsun_Macrobot"]
	path = projects/Wyrmsun_Macrobot
	url = https://github.com/GameHackingAcademy/Wyrmsun_Macrobot.git
[submodule "projects/vmsetup"]
	path = projects/vmsetup
	url = https://github.com/GameHackingAcademy/vmsetup.git
